<div class="container">
    <div class="jumbotron">
        <form class="form-horizontal">
            <h2 class="is-center content-subhead">Change Password</h2>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Old Password<span class="redSign">*</span></label>
                    <div class="col-sm-6">
                        <input id="username" type="password" placeholder="Old Password" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">New Password <span class="redSign">*</span></label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" placeholder="New Password" required>
                    </div>

                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Confirm Password <span class="redSign">*</span></label>
                    <div class="col-sm-6">
                        <input id="confirmpassword" type="password" placeholder="Confirm Password" required
                               class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>


