<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Alliance Franchise Brands </a>
    </div>
</div>
<div class="content-wrapper">
    <div class="content is-center is-middle">
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1">

                <form class="pure-form pure-form-aligned" id="loginform" [formGroup]="loginForm" (ngSubmit)="onClickLogin()">
                    <fieldset>
                        <div class="pure-controls">
                            <h2 class="content-subhead">{{pageTitle}}</h2>
                        </div>
                        <div class="pure-control-group">
                            <label for="name">Username  <i class="fa fa-user"></i> <span class="redSign"> *</span></label>
                            <input type="text" formControlName="Username" placeholder="Username">
                            <small  [hidden]="loginForm.controls.Username.valid || (loginForm.controls.Username.pristine && !submitted)">This field is required!</small>
                        </div>
                        <div class="pure-control-group">
                            <label for="password">Password  <i class="fa fa-key"></i> <span class="redSign">*</span></label>
                            <input id="password" name="Password" type="password" formControlName="Password" placeholder="Password">
                            <small [hidden]="loginForm.controls.Password.valid || (loginForm.controls.Password.pristine && !submitted)">This field is required!</small>              
                        </div>
                        <div class="pure-controls">
                            <label for="remember" class="pure-checkbox">
                              <input id="remember"  type="checkbox" formControlName="RememberMe"> Remember me
                            </label>
                            <span class="redSign">{{LoginResponse}}</span>
                        </div>
                        <div class="pure-controls">
                            <button type="submit" [disabled]="!loginForm.valid" class="pure-button">Login</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

    <div class="footer l-box is-center">
        © 2016 Alliance Franchise Brands All rights reserved.
    </div>

</div>